{
  "openapi": "3.1.1",
  "info": {
    "title": "NotaxPay.Api | v1",
    "version": "1.0.0",
    "description": "API de pagamentos da Notax para emissão de boletos, gestão de titulares, contas bancárias, convênios e webhooks.\n\nTodas as requisições (exceto o cadastro e a autenticação de cliente) exigem autenticação via **Bearer token (JWT)**, obtido em `POST /api/v1/client/auth`. As respostas são em JSON e os erros seguem o padrão Problem Details (RFC 9110).",
    "contact": {
      "name": "Notax",
      "url": "https://notax.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.notax.com.br",
      "description": "Produção"
    }
  ],
  "paths": {
    "/api/v1/webhook": {
      "post": {
        "tags": [
          "Webhook"
        ],
        "summary": "Cadastrar webhook",
        "description": "Cadastra um novo webhook vinculado ao cliente autenticado. O secret é retornado apenas nesta resposta e não pode ser recuperado posteriormente.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookContextCreateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookContextCreateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookContextCreateCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextCreateResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextCreateResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextCreateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Webhook"
        ],
        "summary": "Listar webhooks",
        "description": "Retorna uma lista paginada de webhooks vinculados ao cliente autenticado.",
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemInt32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemInt32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextGetAllResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextGetAllResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextGetAllResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhook/{id}": {
      "get": {
        "tags": [
          "Webhook"
        ],
        "summary": "Buscar webhook",
        "description": "Retorna os detalhes de um webhook pelo identificador.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextGetByIdResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextGetByIdResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextGetByIdResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Webhook"
        ],
        "summary": "Atualizar webhook",
        "description": "Substitui os dados de configuração do webhook. Não rotaciona o secret.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookContextUpdateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookContextUpdateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookContextUpdateCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Webhook"
        ],
        "summary": "Remover webhook",
        "description": "Remove permanentemente o webhook. Tentativas de entrega anteriores são também removidas.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhook/{id}/enable": {
      "patch": {
        "tags": [
          "Webhook"
        ],
        "summary": "Ativar webhook",
        "description": "Marca o webhook como ativo. Eventos passam a ser entregues.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhook/{id}/disable": {
      "patch": {
        "tags": [
          "Webhook"
        ],
        "summary": "Desativar webhook",
        "description": "Marca o webhook como inativo. Eventos deixam de ser entregues até reativação.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhook/{id}/events": {
      "get": {
        "tags": [
          "Webhook"
        ],
        "summary": "Listar eventos disparados de um webhook",
        "description": "Retorna a lista paginada de eventos disparados para o webhook, com summary das tentativas de entrega. Filtros opcionais: status, eventType, from, to.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          },
          {
            "name": "WebhookId",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemInt32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemInt32"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemString"
            }
          },
          {
            "name": "EventType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemString"
            }
          },
          {
            "name": "From",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemNullable`1[[SystemDateTime, SystemPrivateCoreLib, Version=10000, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
            }
          },
          {
            "name": "To",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemNullable`1[[SystemDateTime, SystemPrivateCoreLib, Version=10000, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextGetEventsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextGetEventsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextGetEventsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhook/{id}/events/{eventId}": {
      "get": {
        "tags": [
          "Webhook"
        ],
        "summary": "Detalhar evento de webhook",
        "description": "Retorna detalhes de um evento de webhook (payload original e histórico completo de tentativas de entrega).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextGetEventDetailsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextGetEventDetailsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextGetEventDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhook/{id}/events/{eventId}/resend": {
      "post": {
        "tags": [
          "Webhook"
        ],
        "summary": "Reenviar evento de webhook",
        "description": "Republica o evento no bus iniciando um novo ciclo de retentativas. Falha em 409 se o evento já foi entregue com sucesso ou está em entrega.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhook/{id}/test": {
      "post": {
        "tags": [
          "Webhook"
        ],
        "summary": "Disparar teste sintético",
        "description": "Envia uma chamada de teste imediata ao endpoint do webhook com payload sintético. Não persiste evento nem agenda retentativas. Retorna o resultado da única tentativa.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookContextTestWebhookCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookContextTestWebhookCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookContextTestWebhookCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextTestWebhookResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextTestWebhookResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookContextTestWebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhook/event-types": {
      "get": {
        "tags": [
          "Webhook"
        ],
        "summary": "Listar tipos de eventos suportados",
        "description": "Retorna o catálogo de todos os tipos de eventos que podem ser assinados em um webhook (ex.: boleto.created, payment.completed).",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SystemCollectionsGenericIReadOnlyCollection`1[[SystemString, SystemPrivateCoreLib, Version=10000, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemCollectionsGenericIReadOnlyCollection`1[[SystemString, SystemPrivateCoreLib, Version=10000, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemCollectionsGenericIReadOnlyCollection`1[[SystemString, SystemPrivateCoreLib, Version=10000, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bank-accounts/{bankAccountId}/covenants": {
      "post": {
        "tags": [
          "Convênio"
        ],
        "summary": "Cadastrar convênio",
        "description": "Cadastra um novo convênio vinculado a uma conta bancária do cliente autenticado.",
        "parameters": [
          {
            "name": "bankAccountId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CovenantContextCreateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CovenantContextCreateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CovenantContextCreateCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CovenantContextCreateResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CovenantContextCreateResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CovenantContextCreateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Convênio"
        ],
        "summary": "Listar convênios",
        "description": "Retorna uma lista paginada de convênios vinculados à conta bancária informada.",
        "parameters": [
          {
            "name": "bankAccountId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          },
          {
            "name": "BankAccountId",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemInt32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemInt32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CovenantContextGetAllResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CovenantContextGetAllResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CovenantContextGetAllResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bank-accounts/{bankAccountId}/covenants/{id}": {
      "get": {
        "tags": [
          "Convênio"
        ],
        "summary": "Buscar convênio",
        "description": "Retorna os detalhes de um convênio pelo ID.",
        "parameters": [
          {
            "name": "bankAccountId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CovenantContextGetByIdResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CovenantContextGetByIdResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CovenantContextGetByIdResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client": {
      "post": {
        "tags": [
          "Cliente"
        ],
        "summary": "Cadastrar cliente",
        "description": "Cria um novo cliente e retorna as credenciais de acesso (clientId e clientSecret).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientContextCreateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientContextCreateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ClientContextCreateCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClientContextCreateResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientContextCreateResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientContextCreateResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v1/client/auth": {
      "post": {
        "tags": [
          "Cliente"
        ],
        "summary": "Autenticar cliente",
        "description": "Autentica o cliente com clientId e clientSecret e retorna um Bearer token JWT.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientContextAuthenticateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientContextAuthenticateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ClientContextAuthenticateCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClientContextAuthenticateResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientContextAuthenticateResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientContextAuthenticateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v1/covenants/{covenantId}/bank-slips": {
      "post": {
        "tags": [
          "Boleto"
        ],
        "summary": "Cadastrar lote de boletos",
        "description": "Cadastra um lote de boletos vinculados ao convênio informado. Todos os itens devem passar na validação para que o lote seja salvo.",
        "parameters": [
          {
            "name": "covenantId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankSlipContextCreateBatchCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BankSlipContextCreateBatchCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BankSlipContextCreateBatchCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BankSlipContextCreateBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankSlipContextCreateBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankSlipContextCreateBatchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Boleto"
        ],
        "summary": "Listar boletos",
        "description": "Retorna uma lista paginada de boletos vinculados ao convênio informado.",
        "parameters": [
          {
            "name": "covenantId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          },
          {
            "name": "CovenantId",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemInt32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemInt32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BankSlipContextGetAllResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankSlipContextGetAllResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankSlipContextGetAllResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/covenants/{covenantId}/bank-slips/{id}": {
      "get": {
        "tags": [
          "Boleto"
        ],
        "summary": "Buscar boleto",
        "description": "Retorna os detalhes de um boleto pelo ID.",
        "parameters": [
          {
            "name": "covenantId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BankSlipContextGetByIdResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankSlipContextGetByIdResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankSlipContextGetByIdResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account-holders/{accountHolderId}/bank-accounts": {
      "post": {
        "tags": [
          "Conta Bancária"
        ],
        "summary": "Cadastrar conta bancária",
        "description": "Cadastra uma nova conta bancária vinculada a um titular de conta do cliente autenticado.",
        "parameters": [
          {
            "name": "accountHolderId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountContextCreateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountContextCreateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountContextCreateCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountContextCreateResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountContextCreateResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountContextCreateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Conta Bancária"
        ],
        "summary": "Listar contas bancárias",
        "description": "Retorna uma lista paginada de contas bancárias vinculadas ao titular de conta.",
        "parameters": [
          {
            "name": "accountHolderId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          },
          {
            "name": "AccountHolderId",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemInt32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemInt32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountContextGetAllResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountContextGetAllResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountContextGetAllResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account-holders/{accountHolderId}/bank-accounts/{id}": {
      "get": {
        "tags": [
          "Conta Bancária"
        ],
        "summary": "Buscar conta bancária",
        "description": "Retorna os detalhes de uma conta bancária pelo ID.",
        "parameters": [
          {
            "name": "accountHolderId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountContextGetByIdResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountContextGetByIdResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountContextGetByIdResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accountholder": {
      "post": {
        "tags": [
          "Titular de Conta"
        ],
        "summary": "Cadastrar titular de conta",
        "description": "Cadastra um novo titular de conta vinculado ao cliente autenticado.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountHolderContextCreateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountHolderContextCreateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountHolderContextCreateCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccountHolderContextCreateResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountHolderContextCreateResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountHolderContextCreateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Titular de Conta"
        ],
        "summary": "Listar titulares de conta",
        "description": "Retorna uma lista paginada de titulares de conta vinculados ao cliente autenticado.",
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemInt32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SystemInt32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccountHolderContextGetAllResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountHolderContextGetAllResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountHolderContextGetAllResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accountholder/{id}": {
      "get": {
        "tags": [
          "Titular de Conta"
        ],
        "summary": "Buscar titular de conta",
        "description": "Retorna os detalhes de um titular de conta pelo ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SystemGuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccountHolderContextGetByIdResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountHolderContextGetByIdResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountHolderContextGetByIdResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftAspNetCoreMvcProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountHolderContextCreateCommand": {
        "required": [
          "name",
          "documentNumber",
          "documentType",
          "email",
          "phone",
          "street",
          "addressNumber",
          "complement",
          "neighborhood",
          "city",
          "state",
          "zipCode"
        ],
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/SystemString"
          },
          "documentNumber": {
            "$ref": "#/components/schemas/SystemString"
          },
          "documentType": {
            "$ref": "#/components/schemas/SharedContextEnumsDocumentType"
          },
          "email": {
            "$ref": "#/components/schemas/SystemString"
          },
          "phone": {
            "$ref": "#/components/schemas/SystemString"
          },
          "street": {
            "$ref": "#/components/schemas/SystemString"
          },
          "addressNumber": {
            "$ref": "#/components/schemas/SystemString"
          },
          "complement": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/SystemString"
              }
            ]
          },
          "neighborhood": {
            "$ref": "#/components/schemas/SystemString"
          },
          "city": {
            "$ref": "#/components/schemas/SystemString"
          },
          "state": {
            "$ref": "#/components/schemas/SystemString"
          },
          "zipCode": {
            "$ref": "#/components/schemas/SystemString"
          }
        }
      },
      "AccountHolderContextCreateResponse": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/SystemGuid"
          }
        }
      },
      "AccountHolderContextGetAllResponse": {
        "required": [
          "items",
          "totalCount",
          "pageNumber",
          "pageSize"
        ],
        "type": "object",
        "properties": {
          "items": {
            "$ref": "#/components/schemas/SystemCollectionsGenericIReadOnlyList`1[[AccountHolderContextGetByIdResponse, NotaxPayApplication, Version=1000, Culture=neutral, PublicKeyToken=null]]"
          },
          "totalCount": {
            "$ref": "#/components/schemas/SystemInt32"
          },
          "pageNumber": {
            "$ref": "#/components/schemas/SystemInt32"
          },
          "pageSize": {
            "$ref": "#/components/schemas/SystemInt32"
          },
          "totalPages": {
            "$ref": "#/components/schemas/SystemInt32"
          },
          "hasPreviousPage": {
            "$ref": "#/components/schemas/SystemBoolean"
          },
          "hasNextPage": {
            "$ref": "#/components/schemas/SystemBoolean"
          }
        }
      },
      "AccountHolderContextGetByIdResponse": {
        "required": [
          "id",
          "name",
          "document",
          "documentType",
          "email",
          "phone",
          "street",
          "addressNumber",
          "complement",
          "neighborhood",
          "city",
          "state",
          "zipCode",
          "isActive",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/SystemGuid"
          },
          "name": {
            "$ref": "#/components/schemas/SystemString"
          },
          "document": {
            "$ref": "#/components/schemas/SystemString"
          },
          "documentType": {
            "$ref": "#/components/schemas/SharedContextEnumsDocumentType"
          },
          "email": {
            "$ref": "#/components/schemas/SystemString"
          },
          "phone": {
            "$ref": "#/components/schemas/SystemString"
          },
          "street": {
            "$ref": "#/components/schemas/SystemString"
          },
          "addressNumber": {
            "$ref": "#/components/schemas/SystemString"
          },
          "complement": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/SystemString"
              }
            ]
          },
          "neighborhood": {
            "$ref": "#/components/schemas/SystemString"
          },
          "city": {
            "$ref": "#/components/schemas/SystemString"
          },
          "state": {
            "$ref": "#/components/schemas/SystemString"
          },
          "zipCode": {
            "$ref": "#/components/schemas/SystemString"
          },
          "isActive": {
            "$ref": "#/components/schemas/SystemBoolean"
          },
          "createdAt": {
            "$ref": "#/components/schemas/SystemDateTime"
          }
        }
      },
      "BankAccountContextCreateCommand": {
        "required": [
          "bank",
          "accountType",
          "agencyNumber",
          "agencyDigit",
          "accountNumber",
          "accountDigit",
          "credentials"
        ],
        "type": "object",
        "properties": {
          "bank": {
            "$ref": "#/components/schemas/BankAccountContextEnumsBankCode"
          },
          "accountType": {
            "$ref": "#/components/schemas/BankAccountContextEnumsAccountType"
          },
          "agencyNumber": {
            "$ref": "#/components/schemas/SystemString"
          },
          "agencyDigit": {
            "$ref": "#/components/schemas/SystemString"
          },
          "accountNumber": {
            "$ref": "#/components/schemas/SystemString"
          },
          "accountDigit": {
            "$ref": "#/components/schemas/SystemString"
          },
          "credentials": {
            "$ref": "#/components/schemas/SystemTextJsonJsonElement"
          }
        }
      },
      "BankAccountContextCreateResponse": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/SystemGuid"
          }
        }
      },
      "BankAccountContextEnumsAccountType": {
        "type": "integer"
      },
      "BankAccountContextEnumsBankCode": {
        "type": "integer"
      },
      "BankAccountContextGetAllResponse": {
        "required": [
          "items",
          "totalCount",
          "pageNumber",
          "pageSize"
        ],
        "type": "object",
        "properties": {
          "items": {
            "$ref": "#/components/schemas/SystemCollectionsGenericIReadOnlyList`1[[BankAccountContextGetByIdResponse, NotaxPayApplication, Version=1000, Culture=neutral, PublicKeyToken=null]]"
          },
          "totalCount": {
            "$ref": "#/components/schemas/SystemInt32"
          },
          "pageNumber": {
            "$ref": "#/components/schemas/SystemInt32"
          },
          "pageSize": {
            "$ref": "#/components/schemas/SystemInt32"
          },
          "totalPages": {
            "$ref": "#/components/schemas/SystemInt32"
          },
          "hasPreviousPage": {
            "$ref": "#/components/schemas/SystemBoolean"
          },
          "hasNextPage": {
            "$ref": "#/components/schemas/SystemBoolean"
          }
        }
      },
      "BankAccountContextGetByIdResponse": {
        "required": [
          "id",
          "accountHolderId",
          "bank",
          "agency",
          "accountNumber",
          "accountType",
          "isActive",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/SystemGuid"
          },
          "accountHolderId": {
            "$ref": "#/components/schemas/SystemGuid"
          },
          "bank": {
            "$ref": "#/components/schemas/BankAccountContextEnumsBankCode"
          },
          "agency": {
            "$ref": "#/components/schemas/SystemString"
          },
          "accountNumber": {
            "$ref": "#/components/schemas/SystemString"
          },
          "accountType": {
            "$ref": "#/components/schemas/BankAccountContextEnumsAccountType"
          },
          "isActive": {
            "$ref": "#/components/schemas/SystemBoolean"
          },
          "createdAt": {
            "$ref": "#/components/schemas/SystemDateTime"
          }
        }
      },
      "BankSlipContextCreateBatchBankSlipRequest": {
        "required": [
          "clientNumber",
          "dueDate",
          "issuanceDate",
          "amount",
          "documentKind",
          "payer",
          "rebate",
          "discounts"
        ],
        "type": "object",
        "properties": {
          "clientNumber": {
            "$ref": "#/components/schemas/SystemString"
          },
          "dueDate": {
            "$ref": "#/components/schemas/SystemDateOnly"
          },
          "issuanceDate": {
            "$ref": "#/components/schemas/SystemDateOnly"
          },
          "amount": {
            "$ref": "#/components/schemas/SystemDecimal"
          },
          "documentKind": {
            "$ref": "#/components/schemas/BankSlipContextEnumsDocumentKind"
          },
          "payer": {
            "$ref": "#/components/schemas/BankSlipContextCreateBatchPayerRequest"
          },
          "rebate": {
            "$ref": "#/components/schemas/SystemDecimal"
          },
          "discounts": {
            "$ref": "#/components/schemas/BankSlipContextCreateBatchDiscountsRequest"
          },
          "messages": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/SystemCollectionsGenericIReadOnlyList`1[[SystemString, SystemPrivateCoreLib, Version=10000, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
              }
            ]
          }
        }
      },
      "BankSlipContextCreateBatchCommand": {
        "required": [
          "bankSlips"
        ],
        "type": "object",
        "properties": {
          "bankSlips": {
            "$ref": "#/components/schemas/SystemCollectionsGenericIReadOnlyList`1[[BankSlipContextCreateBatchBankSlipRequest, NotaxPayApplication, Version=1000, Culture=neutral, PublicKeyToken=null]]"
          }
        }
      },
      "BankSlipContextCreateBatchDiscountItemRequest": {
        "required": [
          "value"
        ],
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/SystemDecimal"
          },
          "daysBeforeDue": {
            "$ref": "#/components/schemas/SystemInt32"
          }
        }
      },
      "BankSlipContextCreateBatchDiscountsRequest": {
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/BankSlipContextEnumsDiscountType"
          },
          "one": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/BankSlipContextCreateBatchDiscountItemRequest"
              }
            ]
          },
          "two": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/BankSlipContextCreateBatchDiscountItemRequest"
              }
            ]
          },
          "three": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/BankSlipContextCreateBatchDiscountItemRequest"
              }
            ]
          }
        }
      },
      "BankSlipContextCreateBatchPayerRequest": {
        "required": [
          "name",
          "documentNumber",
          "documentType",
          "street",
          "addressNumber",
          "complement",
          "neighborhood",
          "city",
          "state",
          "zipCode",
          "email",
          "phone"
        ],
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/SystemString"
          },
          "documentNumber": {
            "$ref": "#/components/schemas/SystemString"
          },
          "documentType": {
            "$ref": "#/components/schemas/SharedContextEnumsDocumentType"
          },
          "street": {
            "$ref": "#/components/schemas/SystemString"
          },
          "addressNumber": {
            "$ref": "#/components/schemas/SystemString"
          },
          "complement": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/SystemString"
              }
            ]
          },
          "neighborhood": {
            "$ref": "#/components/schemas/SystemString"
          },
          "city": {
            "$ref": "#/components/schemas/SystemString"
          },
          "state": {
            "$ref": "#/components/schemas/SystemString"
          },
          "zipCode": {
            "$ref": "#/components/schemas/SystemString"
          },
          "email": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/SystemString"
              }
            ]
          },
          "phone": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/SystemString"
              }
            ]
          }
        }
      },
      "BankSlipContextCreateBatchResponse": {
        "required": [
          "ids"
        ],
        "type": "object",
        "properties": {
          "ids": {
            "$ref": "#/components/schemas/SystemCollectionsGenericIReadOnlyList`1[[SystemGuid, SystemPrivateCoreLib, Version=10000, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
          }
        }
      },
      "BankSlipContextEnumsBankSlipStatus": {
        "type": "integer"
      },
      "BankSlipContextEnumsDiscountType": {
        "type": "integer"
      },
      "BankSlipContextEnumsDocumentKind": {
        "type": "integer"
      },
      "BankSlipContextGetAllResponse": {
        "required": [
          "items",
          "totalCount",
          "pageNumber",
          "pageSize"
        ],
        "type": "object",
        "properties": {
          "items": {
            "$ref": "#/components/schemas/SystemCollectionsGenericIReadOnlyList`1[[BankSlipContextGetByIdResponse, NotaxPayApplication, Version=1000, Culture=neutral, PublicKeyToken=null]]"
          },
          "totalCount": {
            "$ref": "#/components/schemas/SystemInt32"
          },
          "pageNumber": {
            "$ref": "#/components/schemas/SystemInt32"
          },
          "pageSize": {
            "$ref": "#/components/schemas/SystemInt32"
          },
          "totalPages": {
            "$ref": "#/components/schemas/SystemInt32"
          },
          "hasPreviousPage": {
            "$ref": "#/components/schemas/SystemBoolean"
          },
          "hasNextPage": {
            "$ref": "#/components/schemas/SystemBoolean"
          }
        }
      },
      "BankSlipContextGetByIdDiscountItemResponse": {
        "required": [
          "value",
          "daysBeforeDue"
        ],
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/SystemDecimal"
          },
          "daysBeforeDue": {
            "$ref": "#/components/schemas/SystemInt32"
          }
        }
      },
      "BankSlipContextGetByIdDiscountResponse": {
        "required": [
          "type",
          "one",
          "two",
          "three"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/BankSlipContextEnumsDiscountType"
          },
          "one": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/BankSlipContextGetByIdDiscountItemResponse"
              }
            ]
          },
          "two": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/BankSlipContextGetByIdDiscountItemResponse"
              }
            ]
          },
          "three": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/BankSlipContextGetByIdDiscountItemResponse"
              }
            ]
          }
        }
      },
      "BankSlipContextGetByIdPayerResponse": {
        "required": [
          "name",
          "documentNumber",
          "documentType",
          "street",
          "addressNumber",
          "complement",
          "neighborhood",
          "city",
          "state",
          "zipCode",
          "email",
          "phone"
        ],
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/SystemString"
          },
          "documentNumber": {
            "$ref": "#/components/schemas/SystemString"
          },
          "documentType": {
            "$ref": "#/components/schemas/SharedContextEnumsDocumentType"
          },
          "street": {
            "$ref": "#/components/schemas/SystemString"
          },
          "addressNumber": {
            "$ref": "#/components/schemas/SystemString"
          },
          "complement": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/SystemString"
              }
            ]
          },
          "neighborhood": {
            "$ref": "#/components/schemas/SystemString"
          },
          "city": {
            "$ref": "#/components/schemas/SystemString"
          },
          "state": {
            "$ref": "#/components/schemas/SystemString"
          },
          "zipCode": {
            "$ref": "#/components/schemas/SystemString"
          },
          "email": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/SystemString"
              }
            ]
          },
          "phone": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/SystemString"
              }
            ]
          }
        }
      },
      "BankSlipContextGetByIdResponse": {
        "required": [
          "id",
          "covenantId",
          "bankNumber",
          "clientNumber",
          "dueDate",
          "issuanceDate",
          "value",
          "documentKind",
          "status",
          "payer",
          "rebate",
          "discount",
          "messages",
          "sequentialBankNumber",
          "barCode",
          "digitableLine",
          "hasPdf",
          "pixQrCode",
          "processingError",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/SystemGuid"
          },
          "covenantId": {
            "$ref": "#/components/schemas/SystemGuid"
          },
          "bankNumber": {
            "$ref": "#/components/schemas/SystemString"
          },
          "clientNumber": {
            "$ref": "#/components/schemas/SystemString"
          },
          "dueDate": {
            "$ref": "#/components/schemas/SystemDateOnly"
          },
          "issuanceDate": {
            "$ref": "#/components/schemas/SystemDateOnly"
          },
          "value": {
            "$ref": "#/components/schemas/SystemDecimal"
          },
          "documentKind": {
            "$ref": "#/components/schemas/BankSlipContextEnumsDocumentKind"
          },
          "status": {
            "$ref": "#/components/schemas/BankSlipContextEnumsBankSlipStatus"
          },
          "payer": {
            "$ref": "#/components/schemas/BankSlipContextGetByIdPayerResponse"
          },
          "rebate": {
            "$ref": "#/components/schemas/SystemDecimal"
          },
          "discount": {
            "$ref": "#/components/schemas/BankSlipContextGetByIdDiscountResponse"
          },
          "messages": {
            "$ref": "#/components/schemas/SystemCollectionsGenericIReadOnlyList`1[[SystemString, SystemPrivateCoreLib, Version=10000, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
          },
          "sequentialBankNumber": {
            "$ref": "#/components/schemas/SystemInt64"
          },
          "barCode": {
            "$ref": "#/components/schemas/SystemString"
          },
          "digitableLine": {
            "$ref": "#/components/schemas/SystemString"
          },
          "hasPdf": {
            "$ref": "#/components/schemas/SystemBoolean"
          },
          "pixQrCode": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/SystemString"
              }
            ]
          },
          "processingError": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/SystemString"
              }
            ]
          },
          "createdAt": {
            "$ref": "#/components/schemas/SystemDateTime"
          }
[...]
